.trending-container {
  display: flex;
}
.trend-slide-container {
  width: 100%;
}
.trend-slide-image-container {
  padding: 10px;
}
.trend-image {
  width: 100%;
  height: 180px;
  border-radius: 8px;
}
.trend-fail-div {
  width: 100%;
  height: 200px;
}
